<% layout('layout') -%>
<div class="hero-unit">
    <h1>欢迎来到 Microblog</h1>
  <p></p>
  <p>
    <a href="/login" class="btn btn-primary btn-large">登录</a>
    <a href="/reg" class="btn btn-large">立即注册</a>
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>GilbertSun 说</h2>
    <p>妇女节日恶搞法国人白驹空谷热键</p>
  </div>
  <div class="span4">
    <h2>GilbertSun 说</h2>
    <p>妇女节日恶搞法国人白驹空谷热键</p>
  </div>
  <div class="span4">
    <h2>GilbertSun 说</h2>
    <p>妇女节日恶搞法国人白驹空谷热键</p>
  </div>
</div>

