<form method="post" action="/post" class="well form-inline center" style="text-align:center">
  <input name="post" type="text" class="span8" />
  <button type="submit" class="btn btn-success"><i class="icon-commit icon-white" style="width:auto">发言</i></button>
</form>
